<script>
    $(function () {
        setTimeout(() => {
            $('#shoppingCompleteModal').modal('hide');
        }, 3000);
    })
</script>

<div class="modal-body">   
    <div class="">
        <h2>{{ 'front.shopping.complete_message__title'|trans }}</h2>
    </div>
    <div class="">
        <p class="ec-reportDescription">
        {{ 'front.shopping.complete_message__body'|trans|nl2br }}
        {% if Order.id %}
            <br /><br /><strong>{{ 'front.shopping.order_no'|trans }} : {{ Order.orderNo }}</strong>
        {% endif %}
        </p>
        {% if Order.complete_message is not empty %}
            {{ Order.complete_message|raw }}
        {% endif %}
    </div>
    {# <div class="">
        <div class="ec-off4Grid">
            {% if hasNextCart %}
                <div class="ec-off4Grid__cell"><a class="ec-blockBtn--primary" href="{{ url('cart') }}">{{ 'front.shopping.continue'|trans }}</a></div>
            {% else %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            {% endif %}
        </div>
    </div> #}
</div>