<script>
  $(function () {
    $('#shoppingBtn').off('click');
    $('#shoppingConfirmModal').off('show.bs.modal');
    $('#shoppingBtn').on('click', function() {
      $('#shoppingModal').modal('hide');
      $('#shoppingConfirmModal').modal('show');
    })
      $('#shoppingConfirmModal').on('show.bs.modal', function() {
          var form = $("form[id='shopping-form']");
          $.ajax({
              url: $(form).attr('action'),
              type: $(form).attr('method'),
              data: $(form).serialize(),
              success: function(data){
                  $('#shoppingConfirmModal .modal-content').html(data);
              }
          });
      });
  });
</script>
{% if not app.request.isXmlHttpRequest %}
   <script>
      window.location.href = "/";
   </script>
{% endif %}
{% set Carts = get_all_carts() %}
{% set totalPrice = get_carts_total_price() %}
{% set totalQuantity = get_carts_total_quantity() %}
<form id="shopping-form" name="" method="post" action="{{ url('shopping_confirm') }}">
      {{ form_widget(form._token) }}
      {{ form_widget(form.redirect_to) }}
      <span class="close" data-dismiss="modal">x</span>
      <div class="modal-header">
        <span> Thông tin đơn hàng </span>
      </div>
      <div class="modal-body">
        <p class="title-popup-order">Chi tiết đơn hàng<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
        <div class="order-list">
        {# <pre>
          {{ dump( Order.shippings) }};
        </pre> #}
        {% for shipping in Order.shippings %}
            {% set idx = loop.index0 %}
            {% for orderItem in shipping.productOrderItems %}
                <div class="order-item mb-1 mt-1"><span class="order-item-number">{{ orderItem.quantity|number_format }}</span>
                  <div class="order-item-info">
                    <div class="order-item-name">
                      <span class="txt-bold"> {{ orderItem.productName }}  {{ (orderItem.ProductClass.ClassCategory1) ? '[' ~ orderItem.ProductClass.ClassCategory1 ~ ']' : '' }} {{ (orderItem.ProductClass.ClassCategory2) ? '[' ~ orderItem.ProductClass.ClassCategory2 ~ ']' : '' }}</span>
                    </div>
                  </div>
                  <div class="order-item-price">{{ orderItem.totalPrice|price }}<span style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span></div>
                </div>
              {% endfor %}
              <div class="ec-orderDelivery__title">
              {# {{ 'front.shopping.delivery_to'|trans }}{% if Order.multiple %}({{ loop.index }}){% endif %} #}
              <p class="title-popup-order">Thông tin giao hàng<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
            </div>
              <div class="ec-orderDelivery__address">
                <div>{{ shipping.name01|format_name(shipping.name02) }}</div>
                <div>{{ format_address(shipping.addr01, shipping.addr02, shipping.pref, shipping.postal_code) }}</div>
                <div>{{ shipping.phone_number }}</div>
              </div>

<!-- require form -->
              <div class="ec-orderDelivery__actions d-none">
                  <div class="ec-selects">
                      <div class="ec-select">
                          <label>{{ 'front.shopping.delivery_provider'|trans }}</label>
                          {{ form_widget(form.Shippings[idx].Delivery, { 'attr': { 'class': 'form-control', 'data-trigger': 'change' }}) }}
                          {{ form_errors(form.Shippings[idx].Delivery) }}
                      </div>
                      <div class="ec-select ec-select__delivery">
                          <label>{{ 'front.shopping.delivery_date'|trans }}</label>
                          {{ form_widget(form.Shippings[idx].shipping_delivery_date, {'attr': {'class': 'form-control'}}) }}
                          {{ form_errors(form.Shippings[idx].shipping_delivery_date) }}
                      </div>
                      <div class="ec-select ec-select__time">
                          <label>{{ 'front.shopping.delivery_time'|trans }}</label>
                          {{ form_widget(form.Shippings[idx].DeliveryTime, {'attr': {'class': 'form-control'}}) }}
                          {{ form_errors(form.Shippings[idx].DeliveryTime) }}
                      </div>
                  </div>
              </div>
              {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                    <div class="ec-orderPayment d-none">
                        <div class="ec-rectHeading">
                            <h2>{{ 'front.shopping.point_info'|trans }}</h2>
                        </div>
                        <div class="ec-input {{ has_errors(form.use_point) ? ' error' }}">
                            <p>{{ 'front.shopping.available_point'|trans({ '%point%': Order.Customer.Point|number_format }) }}</p>
                            {{ form_widget(form.use_point, { 'attr': { 'type': 'text', 'class': 'form-control', 'data-trigger': 'change' }}) }}
                            {{ form_errors(form.use_point) }}
                        </div>
                    </div>
                {% endif %}
                <div class="ec-orderConfirm d-none">
                    <div class="ec-rectHeading">
                        <h2>{{ 'front.shopping.message_info'|trans }}</h2>
                    </div>
                    <div class="ec-input">
                        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'front.shopping.message_placeholder'|trans, 'rows': '6'}}) }}
                        {{ form_errors(form.message) }}
                    </div>
                </div>
<!-- end -->

          <div class="ec-orderDelivery__change text-right">
              {% if is_granted('ROLE_USER') %}
                  <a href="{{ url('mypage_delivery')}}" class="ec-inlineBtn text-blue" data-id="{{ shipping.id }}" data-trigger="click" data-path="{{ path('shopping_shipping', {'id': shipping.id}) }}">{{ 'common.change'|trans }}</a>
              {% else %}
                  <a href="{{ url('mypage_delivery')}}" class="ec-inlineBtn text-blue" data-id="{{ shipping.id }}" data-trigger="click" data-path="{{ path('shopping_shipping_edit', {'id': shipping.id}) }}">{{ 'common.change'|trans }}</a>
              {% endif %}
          </div>
        {% endfor %}
        
        <div class="info-order">
          <div class="row">
            <div class="col">Tổng cộng <span class="txt-bold">{{totalQuantity}}</span> phần</div>
            <div class="col-auto txt-bold">{{ Order.subtotal|price }}</span></div>
          </div>
          <div class="row">
            <div class="col">{{ 'common.delivery_fee'|trans }}</div>
            <div class="col-auto">{{ Order.deliveryFeeTotal|price }}</div>
          </div>
          <div class="row">
            <div class="col">{{ 'common.charge'|trans }}</div>
            <div class="col-auto">{{ Order.charge|price }}</div>
          </div>
          <div class="row">
            <div class="col">{{ 'common.discount'|trans }}</div>
            <div class="col-auto">{{ (0 - Order.discount)|price }}</div>
          </div>


        </div>
        <div class="txt-bold" style="padding: 10px 0; font-size: 16px">
          <div class="row">
            <div class="col"><span>Tổng cộng</span>
            </div>
            <div class="col-auto">{{ Order.total|price }}<span style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span>
            </div>
          </div>
        </div>
        <div class="payment-methods">
            <div class=""><span class="txt-bold font16 txt-black">Phương thức thanh toán</span></div>
            <div class="list-method-payment">
              <div class="item-method-payment">
                <div class="custom-radio blue">
                  {% for key, child in form.Payment %}
                    <div style="display: block;">
                        {% set Payment = form.Payment.vars.choices[key].data %}
                        {{ form_widget(child, { 'attr': { 'data-trigger': 'change' }}) }}
                        {% if Payment.payment_image is not null %}
                            <p><img src="{{ asset(Payment.payment_image, 'save_image') }}"></p>
                        {% endif %}
                    </div>
                  {% endfor %}
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="shoppingBtn" class="submit-order btn" data-toggle="modal" type="button">Xác nhận
          <i class="fa fa-arrow-right"></i><span class="total-price"><div>{{ Order.total|price }}<span style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span></div></span>
        </button>
      </div>
      </form>