{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'mypage' %}

{% block main %}

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 ftco-animate">
                    <h1 class="mb-4 billing-heading">{{ 'common.login'|trans }}</h1>
                    <form name="login_mypage" id="login_mypage" method="post" action="{{ url('mypage_login') }}">
                        <div class="row align-items-end">
                            {% if error %}
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'validators')|nl2br }}</p>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-md-12">
                            <div class="form-group">
                                <label for="firstname">{{'common.mail_address'|trans}}</label>
                                {{ form_widget(form.login_email, { attr: { class: 'form-control', 'style' : 'ime-mode: disabled;', placeholder: 'common.mail_address'|trans, 'autofocus': true }}) }}
                            </div>
                        </div> 
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="lastname">{{'common.password'|trans}}</label>
                                {{ form_widget(form.login_pass, { attr: { class: 'form-control', placeholder: 'common.password'|trans }}) }}
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                {% if BaseInfo.option_remember_me %}
                                <div class="ec-checkbox">
                                    <label>
                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                            <input type="hidden" name="login_memory" value="1">
                                        {% else %}
                                            {{ form_widget(form.login_memory, { 'label': 'common.remember_me'|trans }) }}
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="text-center mb-2">
                                <button type="submit" class="btn btn-primary py-3 px-4">{{ 'common.login'|trans}}</button>
                            </div>
                            <div class="text-center">
                                <div class="ec-login__link"><a class="ec-link" href="{{ url('forgot') }}">{{ 'common.forgot_login'|trans}}</a>
                                </div>
                                <div class="ec-login__link"><a class="ec-link" href="{{ url('entry') }}">{{ 'common.signup'|trans}}</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </form>
                </div>
        </div>
    </section>
{% endblock %}
