{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<script> 
$(function() {
    $('.btn-submit.red').off('click');
    $('.btn-submit.red').on('click', function() {
        $('.btn-submit.grey').removeClass('d-none');
        $('.btn-submit.red').addClass('d-none');
        setTimeout(() => {
            $('.btn-submit.grey').addClass('d-none');
            $('.btn-submit.red').removeClass('d-none');
        }, 300);
    })
    $('.btn-change-quantity').off('click');
    $('.btn-change-quantity').on('click', function(event) {
            $(this).attr('disabled','');
            $('.btn-submit.grey').removeClass('d-none');
            $('.btn-submit.red').addClass('d-none');
            $.ajax({
                url: $(this).attr('href'),
                type: 'PUT',
                data:  {
                    'token-for-anchor' : $(this).attr('token-for-anchor'),
                },
                dataType: '',
            }).done(function(data) {
                $.ajax({
                    url: "{{ url('block_cart') }}",
                    type: 'GET',
                    dataType: 'html'
                }).done(function(html) {
                    $('.bill').html(html);
                }).always(function() {
                    $('.btn-submit.grey').addClass('d-none');
                    $('.btn-submit.red').removeClass('d-none');
                });
            }).fail(function(data) {
                alert('{{ 'front.product.add_cart_error'|trans }}');
            })
        ;
    });
});
</script>
<div class="title-cart-info">Thông tin đơn hàng </div>
{# <div class="">Đơn hàng tạo bởi</div> #}
<div class="order-card-groups">
{% set totalQuantity = get_carts_total_quantity() %}
{% set totalCart = 0 %}
{% for Cart in Carts %}
    {% for CartItem in Cart.CartItems %}
        {% set ProductClass = CartItem.ProductClass %}
        {% set Product = ProductClass.Product %}
    <div class="order-card-item">
        <div class="clearfix">
            <div class="">
            <button class="fa fa-plus-square btn-plus btn-change-quantity" {{ csrf_token_for_anchor() }} href="{{ url('cart_handle_item', {'operation': 'up', 'productClassId': ProductClass.id}) }}"></button>
            <span class="number-order">{{ CartItem.quantity|number_format }}</span>
            <button class="fa fa-minus-square btn-minus btn-change-quantity"  {{ csrf_token_for_anchor() }} href="{{ url('cart_handle_item', {'operation': 'down', 'productClassId': ProductClass.id}) }}"></button>
            <span class="name-order"> {{ Product.name }}{{ ProductClass.ClassCategory1 ? ' [' ~ ProductClass.ClassCategory1.name ~ ']' : '' }}{{ ProductClass.ClassCategory2 ?' [' ~ ProductClass.ClassCategory2.name ~ ']' : '' }}</span>
            </div>
            <span class="price-order">{{ CartItem.total_price|price }}</span>
            </div>
            {% set totalCart = totalCart + CartItem.total_price %}
    </div>
    {% endfor %}
{% endfor %}
</div>
<div class="total-price d-none">
    <div class="col">Cộng</div>
    <div class="col-auto font-weight-bold ">{{ totalCart|price }}</div>
</div>
<div class="total">
    <div class="col">Tổng cộng</div>
    <div class="col-auto font-weight-bold text-blue">{{ totalCart|price }}</div>
</div>
<button id="cart-submit" {{ totalQuantity == 0 ? 'disabled' : '' }} class="btn btn-submit red" data-toggle="modal" data-target="#shoppingModal"><i class="fa fa-check-circle-o"></i> Đặt trước</button> 
<button class="btn-submit grey d-none"><i class="fa fa-spin fa-spinner"></i></button>

