{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block stylesheet %}
    <style>
        .slick-slider {
            margin-bottom: 30px;
        }

        .slick-dots {
            position: absolute;
            bottom: -45px;
            display: block;
            width: 100%;
            padding: 0;
            list-style: none;
            text-align: center;
        }

        .slick-dots li {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            padding: 0;

            cursor: pointer;
        }

        .slick-dots li button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
        }

        .slick-dots li button:hover,
        .slick-dots li button:focus {
            outline: none;
        }

        .slick-dots li button:hover:before,
        .slick-dots li button:focus:before {
            opacity: 1;
        }

        .slick-dots li button:before {
            content: " ";
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 12px;
            height: 12px;
            text-align: center;
            opacity: .25;
            background-color: black;
            border-radius: 50%;

        }

        .slick-dots li.slick-active button:before {
            opacity: .75;
            background-color: black;
        }

        .slick-dots li button.thumbnail img {
            width: 0;
            height: 0;
        }

        .text-menu-top-title {
            font-weight: 700;
            color: #cf2127;
            display: inline-block;
            padding: 13px 26px;
        }

        .categogy {
            background-color: #fff;
            padding: 15px 5px 15px 15px;
            border-radius: 4px;
            position: sticky;
            top:0px;
        }
        .categogy .item-category {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 5px 0;
            padding: 2px 0;
        }

        .categogy .item-category span {
            font-size: 13px;
            display: inline-block;
            color: #6d6f71;
            text-transform: uppercase;
            padding: 3px 7px 1px;
            border-radius: 4px;
            cursor: pointer;
        }

        .categogy .item-category .active {
            background-color: #959595;
            color: #fff;
        }

        .item-row {
            display: flex;
            box-sizing: border-box;
        }

        .item-row .item-img {
            
        }

        .item-row .item-info {
            
        }

        .item-row .item-price {
            
        }

        .item-row .item-add {
            
        }

        .bg-content {
            background-color: #f2f2f2;
        }

        .menu-detail {
          padding: 6px 15px;
          border: 1px solid #ebebeb;
          border-radius: 4px;
          background: #fff;
        }

        .menu-detail .promotions-order {
          background-color: #fbf9d8;
          overflow: hidden;
          margin-left: -15px;
          margin-right: -15px;
          border: 1px dashed #575757;
          padding: 2px 15px 0 89px;
        }

        .search-items {
          position: sticky;
          top: 0px;
          background: #fff;
          z-index: 2;
          padding: 15px 0 10px;

        }
        .search-items i {
          position: absolute;
          padding: 13px;
          font-weight: 900;
        }
        .search-items input {
          width: 100%;
          padding: 0 40px;
          border: 0;
          border: 1px solid #ededed;
          height: 40px;
        }

        .title-menu {
          text-transform: uppercase;
          color: #6d6f71;
          padding: 5px 0 0;
          margin: 10px 0 20px;
        }
        
        .list-detail .item-row {
          padding-top: 10px;
          border-bottom: 1px solid #f5f5f5;
          padding-bottom: 10px;
        }
        
        .list-detail .item-row .item-img img{
          width: 60px;
          height: 60px;
        }


        .list-detail .item-row .item-info {
          color: #464646;
          font-size: 16px;
          cursor: pointer;
          line-height: 1.3em;
          font-weight: 700;
        }
        .list-detail .item-row .item-price {
          text-align: right;
        }
        .list-detail .item-row .item-price span{
          font-size: 16px;
          font-weight: 700;
          color: #0288d1;
        }
        /* .list-detail .item-row .item-price span::after {
          content: "đ";
          font-weight: 400;
          position: relative;
          top: -9px;
          font-size: 10px;
          right: 0;
        } */
        .list-detail .item-row .item-add {
          text-align: right;
        }
        .list-detail .item-row .item-add span{
          display: inline-block;
          font-size: 20px;
          cursor: pointer;
          font-weight: 700;
          line-height: 20px;
          width: 22px;
          height: 22px;
          background-color: #cf2127;
          text-align: center;
          color: #fff;
          border-radius: 4px;
        }

        .bill {
          background-color: #fff;
          border-radius: 4px;
          border: 1px solid #ebebeb;
          position: sticky;
          top:0px;
        }
        
        .bill .cart-stats {
          margin: 7px 10px;
          font-size: 12px;
          cursor: pointer;
          color: #187caa;
          background: #ebebeb;
          padding: 2px 8px;
          border-radius: 2px;
        }

        .bill .row-bill {
          background-color: #fbf9d8;
          font-size: 13px;
          padding: 4px 10px;
          border-bottom: 1px solid #ebebeb;
        }

        .bill .row-bill::before {
          content: "(*)";
          color: #cf2127;
          font-size: 8px;
          display: inline-block;
          vertical-align: top;
          margin-top: 3px;
        }

        .bill .total-price, .total {
          display:flex;
        }

        .btn-red {
          font-size: 15px;
          margin: 12px 10px 15px;
          display: block;
          width: calc(100% - 20px);
          background-color: #cf2127;
          color: #fff;
          border: 1px solid #cf2127;
          border-radius: 6px ;
        }


    </style>
{% endblock %}

{% block javascript %}
    <script>
    var current_width = $('.categogy').width();
    $('.item-category  span').eq(0).addClass('active');
        $(function() {
            $('.main_visual').slick({
                dots: true,
                arrows: false,
                autoplay: true,
                speed: 300
            });
        // Click left menu -> scroll to list menu detail
        $('.item-category  span').click(function(){
              var id = $(this).attr('id');
              $('html,body').animate({
                  scrollTop: $("#section-group-menu-" + id).offset().top
              }, '');
              
        });

        });
    
        var position_top_of_menu_title = [...$('.title-menu')].map( a => $(a).offset().top);
        var temp = 0;
        $(window).scroll(function(){
        var index_left_menu = position_top_of_menu_title.findIndex( elm => { return elm - $(this).scrollTop() > 0 });
        if (index_left_menu !== temp && index_left_menu !== -1){
          temp = index_left_menu;
          $('.item-category').find('span').removeClass('active');
          $('.item-category').eq(temp).find('span').addClass('active');
        }


        // var aTop = $('.bill').height();
        // var navbar = $('ftco-nav').height();
        // if ($(this).scrollTop()>=aTop){
        //   $('.categogy').attr('style','position:fixed;top:0px');
        // }
        // else {
        //   $('.categogy').attr('style','position:inital');
        // }
      });

    </script>
{% endblock javascript %}

{% block main %}

{% set categories = repository('Eccube\\Entity\\Category').getList() %}
<link rel="stylesheet" href="{{ asset('assets/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <div class="container bg-content">
      <div class="text-menu-top-title"> THỰC ĐƠN </div>
      <div class="row">
        <div class="col-md-2">
          <div class="categogy">
          {% for category in categories %}
            <div class="item-category">
              <span id="{{ category.id}}">{{ category.name}}<span>
            </div>
          {% endfor %}
          </div>
        </div>
        <div class="col-md-7">
          <div class="menu-detail">
            <div class="promotions-order">
              <div class="promotion-item">Freeship</div>
              <div class="promotion-item">Airpay</div>
            </div>
            <div class="menu-list">
              <div class="search-items">
                <i class="fa fa-search"></i>
                <input type="search" placeholder="Tìm món">
              </div>
              {% for category in categories %}
              {% set array_product = [] %}
              <div class="title-menu" id="section-group-menu-{{category.id}}">{{ category.name }}</div>
              {% set Products = repository('Eccube\\Entity\\ProductCategory').createQueryBuilder('pc').Select('p.id').leftJoin('pc.Product', 'p').where('pc.category_id = :id').setParameter('id',category.id ).getQuery().useResultCache(true, 3600).getResult() %}
                {% for product in Products %}
                    {% set array_product = array_product|merge([product.id]) %}
                {% endfor %}
              {% set Products_details = repository('Eccube\\Entity\\Product').findProductsWithSortedClassCategories(array_product) %}
              <div class="list-detail">
              {% for Product_details in Products_details %}
                <div class="item-row row">
                  <div class="item-img col-auto">
                    <img src="{{ asset(Product_details.getMainListImage|no_image_product, 'save_image') }}" alt="hình ảnh"/>
                  </div>
                  <div class="item-info col">
                    <span>{{ Product_details.name }}</span>
                  </div>
                  <div class="item-price col-auto">
                    <span>{{ Product_details.getPrice02Min|price }}</span>
                  </div>
                  <div class="item-add col-auto">
                    <span>+</span>
                  </div>
                </div> 
               {% endfor %}  
              </div>
              {% endfor %}
              {# <div class="title-menu">Món mới</div>
              <div class="list-detail">
               {% for i in 1..10 %}
                <div class="item-row row">
                  <div class="item-img col-auto">
                    <img src="https://images.foody.vn/res/g26/252743/s120x120/3a8a3a0a-4e45-4f2c-1c3a-04730e00f387.jpg" alt="hình ảnh"/>
                  </div>
                  <div class="item-info col">
                    <span>Trà trái cây</span>
                  </div>
                  <div class="item-price col-auto">
                    <span>56,000</span>
                  </div>
                  <div class="item-add col-auto">
                    <span>+</span>
                  </div>
                </div>
                <div class="item-row row">
                  <div class="item-img col-auto">
                    <img src="https://images.foody.vn/res/g26/252743/s120x120/fa236ea4-1245-44d9-d2b7-1b16c706decc.jpg" alt="hình ảnh"/>
                  </div>
                  <div class="item-info col">
                    <span>Trà sữa oolong hoa hồng trân châu Dragon</span>
                  </div>
                  <div class="item-price col-auto">
                    <span>53,000</span>
                  </div>
                  <div class="item-add col-auto">
                    <span>+</span>
                  </div>
                </div>
                <div class="item-row row">
                  <div class="item-img col-auto">
                    <img src="https://images.foody.vn/res/g26/252743/s120x120/3a8a3a0a-4e45-4f2c-1c3a-04730e00f387.jpg" alt="hình ảnh"/>
                  </div>
                  <div class="item-info col">
                    <span>Trà trái cây</span>
                  </div>
                  <div class="item-price col-auto">
                    <span>56,000</span>
                  </div>
                  <div class="item-add col-auto">
                    <span>+</span>
                  </div>
                </div>
                  {% endfor %}
            </div>  #}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="bill">
            <div class="cart-stats">0 phần - 0 người</div>
            {# <div class="">Đơn hàng tạo bởi</div> #}
            <div class="total-price">
              <div class="col">Cộng</div>
              <div class="col-auto font-weight-bold ">0</div>
            </div>
            <div class="row-bill"> Nhập mã khuyến mãi ở bước hoàn tất </div>
            <div class="total">
              <div class="col">Tổng cộng</div>
              <div class="col-auto font-weight-bold">0 </div>
            </div>
          <button class="btn-red">
            <i class="fa fa-check-circle-o"> </i>
                Đặt trước
              </button> 
          </div>
        </div>
      </div>  
    </div>
    {# <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({{asset('assets/images/bg_4.jpg')}});">
    	<div class="container">
    		<div class="row justify-content-center py-5">
    			<div class="col-md-10">
		    		<div class="row">
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="10000">0</strong>
		                <span>Happy Customers</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="100">0</strong>
		                <span>Branches</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="1000">0</strong>
		                <span>Partner</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="100">0</strong>
		                <span>Awards</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section> #}
{% endblock %}